* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Nunito;
}

@font-face {
    font-family: Nunito;
    src: url("./fonts/nunito.ttf");
}

body,
html {
    height: 100%;
}

body {
    background: linear-gradient(-45deg, #FFC9C9, #FFF6C9, #C9FFCE, #C9FCFF, #D0C9FF, #FFC9FA);
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
}

.maintenance {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    line-height: 2.0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For Tablets: (Ukuran layar lebih besar dari 600px)*/
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For Desktop: (Ukuran layar lebih besar dari 768px)*/
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

nav {
    background-color: black;
    padding: 20px;
}

nav div img {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav div li a {
    padding: 20px;
    color: white;
    text-decoration: none;
}

nav div li a:hover {
    color: gray;
    text-decoration: none;
}

nav div li {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    width: 20%;
}

footer {
    color: white;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

.home-picture {
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    padding-top: 250px;
    padding-bottom: 250px;
}

.center {
    text-align: center;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    border: 1px solid black;
    width: 75%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

table tr {
    border: 1px solid black;
    padding: 5px;
}

table th,
table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #1A1A1A;
    color: #FFD700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: grey;
}

.justify {
    text-align: justify;
}

.white {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
    background-color: white;
}

.black {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    background-color: black;
}

.image {
    transition: transform .2s;
}

.image:hover {
    transform: scale(1.1);
}